<div class="modal-container">
    <h2 mat-dialog-title>Browse for the file</h2>
    <mat-dialog-content class="mat-typography">
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-radio-group [(ngModel)]="selectedFileDirectory">
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                    <ng-container *ngIf="node.name;else emptyDirectory">
                        <mat-radio-button [value]="node.dir" color="primary">
                            {{node.name}}
                        </mat-radio-button>
                    </ng-container>
                    <ng-template #emptyDirectory>
                        <span>Empty directory</span>
                    </ng-template>
                </mat-tree-node>
            </mat-radio-group>
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                <div class="w-100 c-clicable-row" matTreeNodeToggle>
                    <button mat-icon-button [attr.aria-label]="'Toggle ' + node.name">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>
                    <span>{{node.name}}</span>
                </div>
            </mat-tree-node>
        </mat-tree>
    </mat-dialog-content>
    <div class="spacer"></div>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-flat-button color="primary" [disabled]="!selectedFileDirectory" (click)="onSelectionAcceptClick()">Ok</button>
    </mat-dialog-actions>
</div>