<mat-sidenav-container class="example-container" autosize>
    <mat-sidenav class="example-sidenav" mode="over" [opened]="width < 680" #sideNav>
        <div class="d-flex flex-column">
            <button mat-flat-button [color]="activeRoute === '/upload' ? 'primary' : undefined" class="mb-3"
                routerLink="/upload">Upload
                page</button>
            <button mat-flat-button [color]="activeRoute === '/history' ? 'primary' : undefined"
                routerLink="/history">History page</button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="d-flex justify-content-center">
            <div style="width: 700px;">
                <mat-toolbar *ngIf="width > 680">
                    <button mat-flat-button [color]="activeRoute === '/upload' ? 'primary' : undefined"
                        routerLink="/upload">Upload page</button>
                    <button mat-flat-button [color]="activeRoute === '/history' ? 'primary' : undefined" class="ml-3"
                        routerLink="/history">History page</button>
                </mat-toolbar>
                <div class="p-5">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>